# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\College\Sem8\Patient Management FrontEnd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
